/log/offer/
/log/answer/
/log/log/
/log/tc_answer/
/log/tc_offer/
*.egg-info
*.pyc
*.so
.coverage
.eggs
.idea
.mypy_cache
/build
/dist
/docs/_build
/dataset/
/tests/
/receive_data/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


