*.egg-info
*.pyc
*.so
.coverage
.eggs
.idea
.mypy_cache

/build
/dist
/docs/_build
.conda/
# Environments
.env
.venv
/log/answer/
/log/offer/
/log/log/
/dataset/
/log/analyses-receiver.ipynb
/receive_data/
env/
venv/
ENV/
env.bak/
venv.bak/
